<include file='Common:header'/>
    <title>{$Think.config.WEBNAME}-首页</title>
    <link rel="stylesheet" href="__PUBLIC__/Home/Theme/{$style}/Css/nav.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/Theme/{$style}/Css/index.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/Theme/{$style}/Css/bottom.css" />
    <link rel="stylesheet" href="__PUBLIC__/Home/Uploadify/uploadify.css"/>
    <script type="text/javascript" src='__PUBLIC__/Home/Js/jquery-1.8.3.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Home/Js/nav.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Home/Uploadify/jquery.uploadify.min.js'></script>
    <script type="text/javascript" src='__PUBLIC__/Home/Js/index.js'></script>
    <script type='text/javascript'>
        var PUBLIC = '__PUBLIC__';
        var uploadUrl = '{:U("Home/Common/uploadPic")}';
        var uid = '{$_SESSION["uid"]}';
        var getWeibo = '{:U("Home/Index/getWeibo")}';
        var getTurnWeibo = '{:U("Home/Index/getTurnWeibo")}'
        var clickZan = '{:U("Home/Common/clickZan")}';
        var commentUrl = "{:U('Home/common/comment')}";
        var getComment = '{:U("Home/Common/getComment")}';
        var keepUrl = '{:U("Home/Common/keep")}';
        var delWeibo = '{:U("Home/Index/delWeibo")}';
        var reportWeibo = '{:U("Home/Index/reportWeibo")}';
        var editStyle = '{:U("Home/Index/editStyle")}';
        var person = '{:U("Home/User/index",array("uid"=>value))}';
        //我的
        var newletter = '{:U("User/newletter")}';
        var id="id";
        var local_url = document.location.href; 
          //获取要取得的get参数位置
        var get = local_url.indexOf(id +"=");
        if(get>0){
              //截取字符串获得id
            var get_par = local_url.slice(id.length + get + 1); 
        }else{
            get_par = '';
        }
        //发送ajax来实时发现@我的
        var atmemeurl = '{:U("Common/atmemeurl")}';
    </script>
<include file='Common:nav'/>
<!--==========内容主体==========-->
<div style='height:60px;opcity:10'></div>
    <div class="main">
    <!--=====左侧=====-->
    <include file='Common:left'/>
    <!--=====中部=====-->
        <div id="middle" class='fleft'>
        <!--微博发布框-->
            <div class='send_wrap'>
                <div class='send_title fleft'></div>
                <div class='send_prompt fright'>
                    <span>你还可以输入<span id='send_num'>140</span>个字</span>
                </div>
                <div class='send_write'>
                    <form action='{:U("Home/Common/send")}' method='post'  name='weibo'>
                        <textarea sign='weibo' name='content'></textarea>
                        <span class='ta_right'></span>
                        <div class='send_tool'>
                            <ul class='fleft'>
                                <li title='表情'><i class='icon icon-phiz phiz' sign='weibo'></i></li>
                                <li title='图片'><i class='icon icon-picture'></i>
                                <!--图片上传框-->
                                    <div id="upload_img" class='hidden'>
                                        <div class='upload-title'><p>本地上传</p><span class='close'></span></div>
                                        <div class='upload-btn'>
                                            <input type="hidden" name='max' value=''/>
                                            <input type="hidden" name='medium' value=''/>
                                            <input type="hidden" name='mini' value=''/>
                                            <input type="file" name='picture' id='picture'/>
                                        </div>
                                    </div>
                                <!--图片上传框-->
                                    <div id='pic-show' class='hidden'>
                                        <img src="" />
                                    </div>
                                </li>
                            </ul>
                            <input type='submit' value='' class='send_btn fright' title='发布微博按钮'/>
                        </div>
                    </form>
                </div>
            </div>
            <div class='view_line'>
                <strong>微博</strong>
            </div> 
<!--====================普通微博样式====================-->
        <!-- 查发布微博 --><!-- 原创微博发布开始 -->
            <div id="original" class="weibo hidden" >
                <!--头像-->
                <div class="face">
                    <a href="">
                        <img src="" width='50px' height='50px'/>
                    </a>
                </div>
                <div class="wb_cons">
                    <dl>
                    <!--用户名-->
                        <dt class='author'>
                            <a href=""></a>
                        </dt>
                        <dt class='screen'>
                            <a href="javascript:void(0);">
                                <i class='screen_box'>…</i> 
                            </a>
                           <ul class="screen_list hidden">
                               <li class="del">
                                    <a href="javascript:void(0);" wid="">删除</a>
                               </li>
                               <li class="keep">
                                    <a href="javascript:void(0);" wid="">收藏</a>
                                    <div class='keep-up hidden'></div>
                               </li>
                               <li class="report">
                                    <a href="javascript:void(0);" wid="">举报</a>
                                </li>
                           </ul>              
                        </dt>
                    <!--发布内容-->
                        <dd class='content'>
                            <p></p>
                        </dd>
                    <!--微博图片-->
                        <dd>
                            <div class='wb_img'>
                            <!--小图-->
                                <img src="" class='mini_img'/>
                                <div class="img_tool hidden">
                                    <ul>
                                        <li>
                                            <i class='icon icon-packup'></i>
                                            <span class='packup'>&nbsp;收起</span>
                                        </li>
                                        <li>|</li>
                                        <li>
                                            <i class='icon icon-bigpic'></i>
                                            <a href="" target='_blank'>&nbsp;查看大图</a>
                                        </li>
                                    </ul>
                                <!--中图-->
                                    <div class="img_info"><img src=""/></div>
                                </div>
                            </div>
                        </dd>
                    </dl>
                <!--操作-->
                    <div class="wb_tool">
                    <!--发布时间-->
                        <span class="send_time"></span>
                    </div>
                    <div class="wb_tool">
                        <hr color="#eee">
                        <ul>
                            <li>
                                <span class='turn' id=''>转发(<i></i>)</span>
                            </li>
                            <li><b>|</b></li>
                            <li>
                                <span class='zan' sign='no' id=''>赞(<i></i>)</span>
                            </li>
                            <li><b>|</b></li>   
                            <li>
                                <span class='comment' wid=''>评论(<i></i>)</span>
                            </li>
                        </ul>
                    </div>
                <!--=====回复框=====-->
                    <div class='comment_load hidden'>
                        <img src="">评论加载中，请稍候...
                    </div>
                    <div class='comment_list hidden'>
                        <textarea name="" sign=''></textarea>
                        <ul>
                            <li class='phiz fleft' sign=''></li>
                            <li class='comment_turn fleft'>
                                <label>
                                    <input type="checkbox" name=''/>同时转发到我的微博
                                </label>
                            </li>
                            <li class='comment_btn fright' wid='' uid=''>评论</li>
                        </ul>
                    </div>
                <!--=====回复框结束=====-->
                </div>
            </div>  
    <!-- 原创微博展示模板结束 -->

<!--====================转发样式====================-->
            <div id="forward" class="weibo hidden" >
            <!--头像-->
                <div class="face">
                    <a href="">
                        <img src="" width='50' height='50'/>
                    </a>
                </div>
                <div class="wb_cons">
                    <dl>
                    <!--用户名-->
                        <dt class='author'>
                            <a href=""></a>
                        </dt>
                        <!-- 操作 -->
                        <dt class='screen'>
                            <a href="javascript:void(0);">
                                <i class='screen_box'>…</i> 
                            </a>
                           <ul class="screen_list hidden">
                               <li class="del">
                                    <a href="javascript:void(0);" wid="">删除</a>
                               </li>
                               <li class="keep">
                                    <a href="javascript:void(0);" wid="">收藏</a>
                                    <div class='keep-up hidden'></div>
                               </li>
                               <li class="report">
                                    <a href="javascript:void(0);" wid="">举报</a>
                                </li>
                           </ul>              
                        </dt>
                    <!--发布内容-->
                        <dd class='content'>
                            <p></p>
                        </dd>
                    <!--转发的微博内容-->
                        <dd class="wb_turn hidden">该微博已被删除</dd>
                        <dd>
                            <div class="wb_turn hidden">
                                <dl>
                                <!--原作者-->
                                    <dt class='turn_name'>
                                        <a href="">@</a>
                                    </dt>
                                <!--原微博内容-->
                                    <dd class='turn_cons'>
                                        <p></p>
                                    </dd>
                                <!--原微博图片-->
                                    <dd>
                                        <div class="turn_img">
                                        <!--小图-->
                                            <img src="" class='turn_mini_img'/>
                                            <div class="turn_img_tool hidden">
                                                <ul>
                                                    <li>
                                                        <i class='icon icon-packup'></i>
                                                        <span class='packup'>&nbsp;收起</span></li>
                                                    <li>|</li>
                                                    <li>
                                                        <i class='icon icon-bigpic'></i>
                                                        <a href="" target='_blank'>&nbsp;查看大图</a>
                                                    </li>
                                                </ul>
                                            <!--中图-->
                                                <div class="turn_img_info">
                                                    <img src=""/>
                                                </div>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <!--转发微博操作-->
                                <div class="turn_tool">
                                    <span class='send_time'>
                                    </span>
                                    <ul>
                                        <li><a href="javascript:void(0)">转发(<i></i>)</a></li>
                                        <li><b>|</b></li>
                                        <li> <a href="javascript:void(0)">赞(<i></i>)</a></li>
                                        <li><b>|</b></li> 
                                        <li><a href="javascript:void(0)">评论(<i></i>)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </dd>
                    </dl>
                    <!--操作-->
                    <div class="wb_tool">
                    <!--发布时间-->
                       <span class="send_time"></span>
                    </div>
                    <div class="wb_tool">
                       <hr color="#eee">
                       <ul>
                          <li>
                              <span class='turn' id='' tid=''>转发(<i></i>)</span>
                          </li>
                          <li><b>|</b></li>
                          <li>
                              <span class='zan' sign='no' id=''>赞(<i></i>)</span>
                          </li>
                          <li><b>|</b></li>   
                          <li>
                              <span class='comment' wid=''>评论(<i></i>)</span>
                          </li>
                       </ul>
                    </div>
                    <!--回复框-->
                    <div class='comment_load hidden'>
                        <img src="">评论加载中，请稍候...
                    </div>
                    <div class='comment_list hidden'>
                        <textarea name="" sign=''></textarea>
                        <ul>
                            <li class='phiz fleft' sign=''></li>
                            <li class='comment_turn fleft'>
                                <label>
                                    <input type="checkbox" name=''/>同时转发到我的微博
                                </label>
                            </li>
                            <li class='comment_btn fright' wid='' uid=''>评论</li>
                        </ul>
                    </div>
                    <!--回复框结束-->
                </div>
            </div>
    <!-- 转发模板结束 -->
<!--====================转发样式结束====================-->
        </div>
<!--==========右侧==========-->
        <include file='Common:right'/>
    </div>
<!--==========内容主体结束==========-->
<!--==========底部==========-->
<include file='Common:bottom'/>