<div id="right">
    <div class="edit_tpl"><a href="" class='set_model'></a></div> 
<userinfo id='$_SESSION["uid"]'>
    <dl class="user_face">
        <dt>
            <a href="{:U('Home/User/index',array('uid'=>session('uid')))}">
                <img src="<if condition='$face'>__PUBLIC__/{$face}<else/>__PUBLIC__/Home/Images/noface.gif</if>" width='80' height='80' alt="{$username}" />
            </a>
        </dt>
        <dd>
            <a href="{:U('Home/User/index',array('uid'=>session('uid')))}">{$username}</a>
            <if condition='$vtime eq 1'><a href="{:U('Home/Common/huiyuancenter')}" class="huiyuantoux"></a></if>
        </dd>
    </dl>
    <ul class='num_list'>
        <li><a href="{:U('Home/User/followList',array('follow'=>session('uid')))}"><strong>{$follow}</strong><span>关注</span></a></li>
        <li><a href="{:U('Home/User/fansList',array('fans'=>session('uid')))}"><strong>{$fans}</strong><span>粉丝</span></a></li>
        <li class='noborder'>
            <a href="{:U('Home/User/index',array('uid'=>session('uid')))}"><strong>{$weibo}</strong><span>微博</span></a>
        </li>
    </ul>
</userinfo>
    <div class="maybe">
        <fieldset>
            
            <legend>可能感兴趣的人</legend>
            <ul>
                <maybe uid={$hobbymen['uid']}>
                    <li>
                        <dl>
                            <dt>
                                <a href="{:U('Home/User/index',array('uid'=>$hobbymen['uid']))}">
                                    <img src="<if condition='$hobbymen["face50"]'>__PUBLIC__/{$hobbymen.face50}<else/>__PUBLIC__/Home/Images/noface.gif</if>" width='30' height='30'/>
                                </a>
                            </dt>
                            <dd><a href="{:U('Home/User/index',array('uid'=>$hobbymen['uid']))}">{$hobbymen['username']}</a></dd>
                            <dd>共{$commonnum}个共同好友</dd>
                        </dl>
                        <span class='heed_btn add-fl yiguanzhu' uid='{$tauid}'><strong>+&nbsp;</strong><i>关注</i></span>
                    </li>
                </maybe>
            </ul>
        </fieldset>
    </div>
    <div class="post">
        <div class='post_line'>
            <span>公告栏</span>
        </div>
        <?php $link = M('gonggao');
            $gonglist = $link->where('`gongshow`=1')->limit(4)->select();
         ?>
        <ul>
            <?php foreach ($gonglist as $key => $value): ?>
                <li><a href="<?php echo $value['gongsrc'] ?>"><?php echo $value['gongcontent'] ?></a></li>
            <?php endforeach ?>
        </ul>
    </div>
</div>